## Analysis-of-Lottery-Addition

Many people start playing the lottery for fun, but for some this activity turns into a habit which eventually escalates into addiction. Like other compulsive gamblers, lottery addicts soon begin spending from their savings and loans, they start to accumulate debts, and eventually engage in desperate behaviors like theft.

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

For the first version of the app, they want us to focus on the 6/49 lottery and build functions that enable users to answer questions like:

What is the probability of winning the big prize with a single ticket?

What is the probability of winning the big prize if we play 40 different tickets (or any other number)?

What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

In [1]:
# Import the libary needed
import pandas as pd
import numpy as np

In [11]:
df= pd.read_csv("649.csv")
df.head(4)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          3665 non-null   int64
 1   DRAW NUMBER      3665 non-null   int64
 2   SEQUENCE NUMBER  3665 non-null   int64
 3   DRAW DATE        3665 non-null   object
 4   NUMBER DRAWN 1   3665 non-null   int64
 5   NUMBER DRAWN 2   3665 non-null   int64
 6   NUMBER DRAWN 3   3665 non-null   int64
 7   NUMBER DRAWN 4   3665 non-null   int64
 8   NUMBER DRAWN 5   3665 non-null   int64
 9   NUMBER DRAWN 6   3665 non-null   int64
 10  BONUS NUMBER     3665 non-null   int64
dtypes: int64(10), object(1)
memory usage: 315.1+ KB

In [5]:
#find null values
df.isnull().sum()

PRODUCT            0
DRAW NUMBER        0
SEQUENCE NUMBER    0
DRAW DATE          0
NUMBER DRAWN 1     0
NUMBER DRAWN 2     0
NUMBER DRAWN 3     0
NUMBER DRAWN 4     0
NUMBER DRAWN 5     0
NUMBER DRAWN 6     0
BONUS NUMBER       0
dtype: int64

## Create Core functions to calculate Combinations and Permutations
factorial() — a function that calculates factorials
combinations() — a function that calculates combinations

In [10]:
#  Factorial function
def factorial(n):
    final_product= 1
    for i in range(n,0,-1):
      final_product*=i
    return final_product
    
def combinations(n,k):
   numerator= factorial(n)
   denominator = factorial(k) * factorial(n-k)
   return numerator/denominator